<div class="container">
  <form [formGroup]="formGroup">
    
    <div class="d-flex  justify-content-center ">
      
      <div class="card ">

        <!-- <img  src="https://servicios.litoprocess.com/colaboradores/assets/_images/logoLogin.svg" alt="logo" class="img-responsive pt-3" width="200px">     -->
        <div class="card-body p-5">
          @if (!registroDatos){
          
            <div class="d-flex flex-column justify-content-center text-center">
              
              <div class="titulo">SIEMPRE QUEREMOS MEJORAR</div>
              <div class="mt-2    subtitulo">CUENTANOS QUE TE PARECIO TU PROYECTO</div>
              <div class="cuadernillo">{{nombreTrabajo}}</div>
              <div class="mt-1 fw-bolder">{{etiquetaView?.etiqueta || ''}}</div>    
              <div id="estrellitas" >
                <p-rating [cancel]="false" formControlName="calificacion" iconOnClass="grande" (onRate)="onRate($event)">
                  <ng-template pTemplate="onicon">
                    <img src="assets/img/star-rate.svg" width="50px" height="75px" />
                  </ng-template>
                  <ng-template pTemplate="officon">
                    <img src="assets/img/star-empty.svg" width="50px" height="75px" />
                  </ng-template>
                </p-rating>
                
                <div class="subtitulo text-muted">{{etiquetaView?.sugerencia || ''}}</div>    
              </div>

            </div>
          
          
          
          <div>
            <div >
              <ul>
                @for ( respuesta of respuestas; track respuesta.id_respuesta) {
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" [value]="respuesta.id_respuesta"
                    [id]="respuesta.id_respuesta" (change)="onChangeRespuesta(respuesta)">
                  <label class="form-check-label" [for]="respuesta.id_respuesta">
                    {{respuesta.descripcion}}
                  </label>
                </div>
                }
              </ul>
            </div>

          </div>
          @if(esVisibleCajaComentarios){
          <div class="row">
            <div class="mb-3">              
              <textarea class="form-control" placeholder="Comentarios" formControlName="comentarios"
                rows="3"></textarea>
            </div>
          </div>

          }
          @if(formGroup.controls['calificacion']!.value!=''){
          @if(!esVisibleCajaComentarios){
          <div id="agregarAlgo" class="my-2 text-center">
            <div class="col">
              <button (click)="esVisibleCajaComentarios=true" class="btn  btn-link btn-block">¿Quieres agregar algo
                más?</button>
            </div>
          </div>
          }}
          <div class="d-grid gap-2 mt-5">
            <button (click)="registrarCalificacion()" class="btn btn-primary ">Registrar</button>
          </div>
        
          }@else{
          <div>
            Gracias por el registro
          </div>
          }
        </div>
      </div>
    </div>
  </form>
</div>

