<div class="container">
  @if (!registroDatos){
  <form [formGroup]="formGroup">
    <div style="display: flex; align-items: center; justify-content: center; margin-top: 10px;">
      <div>
        <h1 style="text-align: center;">{{etiquetaView?.etiqueta || ''}}</h1>
      </div>
    </div>

    <p-rating [cancel]="false" formControlName="calificacion" iconOnClass="grande" (onRate)="onRate($event)">
      <ng-template pTemplate="onicon">
        <img src="assets/img/star-rate.svg" width="50px" height="75px" />
      </ng-template>
      <ng-template pTemplate="officon">
        <img src="assets/img/star-empty.svg" width="50px" height="75px" />
      </ng-template>
    </p-rating>
    <div class="recomendaciones">
      <ul>
        <h3 style="text-align: center;">{{etiquetaView?.sugerencia || ''}}</h3>
        @for ( respuesta of respuestas; track respuesta.id_respuesta) {
        <ol>
          <label><input type="checkbox" (change)="onChangeRespuesta(respuesta)"
              [value]="respuesta.id_respuesta">{{respuesta.descripcion}}</label>
        </ol>
        }
      </ul>

    </div>

    <div>
      @if(formGroup.controls['calificacion']!.value!=''){
      @if(esVisibleCajaComentarios){
      <div>
        <textarea></textarea>
      </div>
      }@else{
      <button (click)="esVisibleCajaComentarios=true"> Quieres agregar algo mas?</button>
      }
      <div>
        <button (click)="registrarCalificacion()">Registrar</button>
      </div>

      }


    </div>
  </form>
  }@else{
  <div>
    Gracias por el registro
  </div>
  }

</div>